In [1]:
import pandas as pd

In [2]:
predictions_df = pd.read_csv('predictions.csv')

In [3]:
predictions_df.head()

,box_score_str,recap_headline,predicted_name,predicted_name_anonymous,actual_names
0,2013-12-22 Minnesota Timberwolves @ Los Angele...,Clippers overcome Kevin Love's 45 points to be...,kevin love,kevin love,['kevin love']
1,2022-10-24 Brooklyn Nets @ Memphis Grizzliespl...,Bane and Morant score 38 each as Grizzlies bea...,desmond bane,desmond bane,"['desmond bane', 'ja morant']"
2,2022-10-29 Memphis Grizzlies @ Utah Jazzplayer...,Jazz edge short-handed Grizzlies 124-123,desmond bane,desmond bane,['none']
3,2022-11-04 Charlotte Hornets @ Memphis Grizzli...,Brooks scores 23 as Grizzlies rout Hornets 130-99,ja morant,dillon brooks,['dillon brooks']
4,2022-11-07 Boston Celtics @ Memphis Grizzliesp...,Tatum's 39 points help Celtics hold on to beat...,jayson tatum,jayson tatum,['jayson tatum']